temp
tmp
node_modules
npm-debug.log

.svn
.idea
.idea/workspace.xml
*.iml
.DS_Store
.dynamic/*
.dynamic/.
.Trashes
*.sublime-project
*.sublime-workspace

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.\#*
*#
ssl
*~
nbproject
.waterline
coverage
lib-cov
.vagrant
Vagrantfile